.formatted-text {
    white-space: pre-line;
}

.custom-select-border {
    border: 3px solid #28469f31 !important;
    outline: none;
}

/* Стили для светлой темы */
body {
    background-color: #fafaf7f2;
}

option {
    color: rgb(24, 23, 23);
    font-size: x-large;
}

optgroup[label] {
    color: rgb(59, 59, 98);
    font-size: x-large;
}

label {
    color: rgb(59, 59, 98);
    margin-left: 0.2rem;
}

#myBtnUP {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00103E;
    color: #fafaf7f2;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
}

#myBtnUP:hover {
    background-color: #555;
}

#applicationTypeLabel {
    color: #00103E;
}

#applicationCardTitle {
    user-select: none;
    color: #00103E;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #28459F !important;
}

.card-text .editable-content {
    outline-color: #000f3e2a;
}


/* DARK THEME */
.dark-mode body {
    background-color: #000618 !important;
}

.dark-mode option {
    color: rgb(220, 220, 240);
    font-size: x-large;
}

.dark-mode optgroup[label] {
    color: #7f76d1;
    font-size: x-large;
}

.dark-mode label {
    color: #c0bfc9;
    margin-left: 0.2rem;
}

.dark-mode #myBtnUP {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00103E;
    color: rgb(220, 220, 240);
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
}

.dark-mode #myBtnUP:hover {
    background-color: #546174f0;
}

.dark-mode #applicationTypeLabel {
    color: rgb(220, 220, 240);
}

.dark-mode #applicationCardTitle {
    user-select: none;
    color: rgb(220, 220, 240);
}

.dark-mode #applicationCard {
    background-color: #243042 !important;
}

.dark-mode #generated-statement {
    color: rgb(220, 220, 240);
}

.dark-mode .form-control {
    color: rgb(220, 220, 240) !important;
    background-color: #243042 !important;
}

.dark-mode .form-select {
    color: rgb(220, 220, 240) !important;
    background-color: #243042 !important;
}

.dark-mode ::placeholder {
    color: rgb(220, 220, 240) !important;
    opacity: 1;
}

.dark-mode .card-body,
.dark-mode .modal-content {
    color: rgb(220, 220, 240) !important;
    background-color: #243042 !important;
}

.dark-mode .btn-primary,
.dark-mode .btn-primary:active,
.dark-mode .btn-primary:visited {
    color: rgb(220, 220, 240) !important;
    background-color: #0f1c44 !important;
    border-color: #22293f !important;
}

.dark-mode .card-header {
    background-color: #141d37 !important;
    color: rgb(220, 220, 240);
}

.dark-mode .toast {
    color: rgb(220, 220, 240) !important;
    background-color: #243042cb !important;
}

span .dark-mode {
    color: rgb(220, 220, 240);

}



.btn-primary:hover {
    background-color: #475D9F !important;
}

.logo-font {
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-style: normal;
}

font {
    color: inherit;
}

.main-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.second-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Выделение полей в заявлении edFi - ручное редактирование,
 maFi - основные (yourName, fullName, positionSelect, department),
 obFi - объекта (fullNameObject, positionObjectSelect),
 otFi - другое (newPositionSelect, stationGoal, departmentCode)
 */
.edFi {
    color: #E60042;
    font-weight: 400;
}

.maFi {
    color: #2C4081;
}

.obFi {
    color: #BFA530;
}

.otFi {
    color: #6E86D6;
}

.dark-mode .edFi {
    color: #de3b69c3;
    font-weight: 400;
}

.dark-mode .maFi {
    color: #415ebf;
}

.dark-mode .obFi {
    color: #BFA530;
}

.dark-mode .otFi {
    color: #6E86D6;
}

/* SVG LIGHT AND DARK*/
.svg-dark {
    display: none;
}

.dark-mode .svg-dark {
    display: block;
}

.dark-mode .svg-light {
    display: none;
}

html,
body { 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.dev-mode {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #ffd500;
    display: flex;
    justify-content: center;
}

.dropdown {
    &:focus-within > .btn > svg {
        transform: rotate(90deg);
    }

    & > .btn > svg {
        transition: 0.5s;
    }
}